[@oscache.cache key="__oscache_upms_js_css" time=30]
<link rel="stylesheet" type="text/css" href="${ui_url!}/lib/easyui/themes/${themes}/easyui.css">
<link rel="stylesheet" type="text/css" href="${ui_url!}/lib/easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="${ui_url!}/css/easyui/main.css">
<script type="text/javascript" src="${ui_url!}/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/ui.common.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/json2.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/card.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/easyui/extend/easyui.extend.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/require.min.js"></script>
<script type="text/javascript" src="${ui_url!}/lib/require.main.js"></script>
[/@oscache.cache]